body {
    font-family: "Open Sans";
  }
div.cont-1 {
    width: 40%;
    float:left
}
div.cont-2 {
    width: 40%;
    float: right;
}
img {
    max-width: 100%;
    max-height: 100%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    text-transform: uppercase;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: lightgray;
  }
  
  .active {
    background-color: #04AA6D;
  }
